X_BEARER_TOKEN=
X_CLIENT_ID=
X_CLIENT_SECRET=
X_OAUTH2_USER_TOKEN=
X_OAUTH2_REFRESH_TOKEN=
X_OAUTH2_REDIRECT_URI=http://127.0.0.1:8080/callback
X_OAUTH2_SCOPES=tweet.read tweet.write users.read offline.access
X_USER_ID=
